<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" lang = "ja">
<head>
<meta charset="UTF-8">
<title>Omikuji Web Service</title>
</head>
<body>
	<h1>Omikuji Web Service</h1>
	
	<form th:object="${inputForm}" method="POST">
		<span>お誕生日を入力してください！</span>
		<input type = "text" id = "birthday" name = "birthday" th:field = "*{birthday}" placeholder = "yyyyMMddの形式"/>
		<input type = "submit" name = "btn" value = "確認" th:action="@{/}"><br>
		<div th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}" style="color:red"></div>
		<br><br>
		上にお誕生日を入力してクリックしてください！<br>
		<input type = "submit" name = "btn" value = "過去半年の結果リスト"
			   formaction = "/half">
		<input type = "submit" name = "btn" value = "過去結果のおみくじ割合"
			   formaction = "/percent">
	</form>
</body>
</html>