<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" lang = "ja">
<head>
<meta charset="UTF-8">
<title>Omikuji Web Service</title>
<style>
	body{
		text-align: center;
	}
	table{
		margin-left: auto;
		margin-right: auto;
	}
</style>
<script src = "https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<body>
	<h1>Omikuji Web Service</h1>
	
	<form th:object="${inputForm}" method="POST">
		<span>お誕生日を入力してください！</span>
		<input type = "text" id = "birthday" name = "birthday" th:field = "*{birthday}" placeholder = "yyyyMMddの形式"/>
		<input type = "submit" name = "btn" value = "確認" th:action="@{/}"><br>
		<div th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}" style="color:red"></div>
		<br><br>
		上にお誕生日を入力してクリックしてください！<br>
		<input type = "submit" name = "btn" value = "過去半年の結果リスト"
			   formaction = "/half">
		<input type = "button" id = "percent" name = "btn" value = "過去結果のおみくじ割合" onclick="getPercent()">
		<br>
		<hr><br>
		<h4>こっちにおみくじの割合リストが出力します！</h4>
		<!-- ajax list 画面出力 -->
		<div id="ajaxPercentageList"></div>
		
	</form>
	
	<script type="text/javascript">
	
		function getPercent(){
			var birthday = $("#birthday").val();
			$.ajax({
				url: "http://localhost:8765/percent",
				type: "POST",
				data: {birthday : birthday},
				dataType: "json",
				contentType: "application/x-www-form-urlencoded; charset=UTF-8",
				success: ajaxHtml
			});
		}
		
		function ajaxHtml(data){
			var html="<table border='1'>";
			html+="<tr>";
			html+="<th>運勢名</th>";
			html+="<th>運勢数</th>";
			html+="<th>割合</th>";
			html+="</tr>";
			
			$.each(data, (index, obj)=>{
				html+="<tr>";
				html+="<td>"+ obj.fortunename +"</td>";
				html+="<td>"+ obj.fortunecount +"回</td>";
				html+="<td>"+ obj.totalpercent +"%</td>";
				html+="</tr>";
			})
			html+="</table>";
			
			$("#ajaxPercentageList").html(html);
		}
	
	</script>
</body>
</html>